.copyright {
	text-align: center;
}

.adjust {
	margin: 0 auto;
	text-align: center;
}

.ugghh {
	width: 20px;
	height: 20px;
}

.moveIt {
	padding-left: 100px;
}

.schedule {
	-moz-column-count: 4;
	-moz-column-gap: 40px;
	-webkit-column-count: 4;
	-webkit-column-gap: 40px;
	column-count: 4;
	column-gap: 40px;
}

.appt {
	margin: 10px;
}