<div class="container" ng-controller="CreateApptCtrl">
  <h4>Schedule An Appointment</h4>
    <select class="selectpicker" placeholder="Select Service" ng-model="newAppt.serviceID" ng-options="item.name for item in services">
      <option ng-value="item.serviceID"></option>
    </select>

    <select class="selectpicker" placeholder="Select Stylist" ng-model="newAppt.stylistID" ng-options="person.name for person in stylists" ng-change="checkAppt()">
      <option ng-value="person.stylistID"></option>
    </select>

    <select class="selectpicker" placeholder="Select Time" ng-model="newAppt.startTime" ng-change="checkAppt()">
      <option ng-repeat="time in times">{{time.startTime}}</option>
    </select>

    <button type="button" class="btn btn-default" ng-click="addAppointment()" ng-disabled="disabled">Book</button>
</div>
