<div class="container">
  <h4>Edit Appointment</h4>

  <p>You booked with {{bookedAppt.stylistID}} for a {{bookedAppt.serviceID}} at {{bookedAppt.startTime}}</p>

    <select class="selectpicker" ng-model="bookedAppt.serviceID">
      <option ng-repeat="item in services" value="{{item.name}}">{{item.name}}</option>
    </select>

    <select class="selectpicker" ng-model="bookedAppt.stylistID">
      <option ng-repeat="person in stylists" value="{{person.name}}">{{person.name}}</option>
    </select>

    <select class="selectpicker" ng-model="bookedAppt.startTime">
      <option ng-repeat="time in times" value="{{time.startTime}}">{{time.startTime}}</option>
    </select>

    <button type="button" class="btn btn-default" ng-click="submitNew()">Submit</button>
</div>