<div class="container">
  <h4>Edit Appointment</h4>

  <p>{{bookedAppt.stylistID}} for {{bookedAppt.serviceID}}</p>

    <select class="selectpicker">
      <option ng-repeat="item in services" ng-value="item.serviceID">{{item.serviceID}}</option>
    </select>

    <select class="selectpicker">
      <option ng-repeat="person in stylists" ng-value="person.stylistID">{{person.name}}</option>
    </select>

    <select class="selectpicker">
      <option>9:00am</option>
      <option>9:30am</option>
      <option>10:00am</option>
      <option>10:30am</option>
      <option>11:00am</option>
      <option>11:30am</option>
      <option>12:00pm</option>
      <option>12:30pm</option>
      <option>1:00pm</option>
      <option>1:30pm</option>
      <option>2:00pm</option>
      <option>2:30pm</option>
      <option>3:00pm</option>
      <option>3:30pm</option>
      <option>4:00pm</option>
      <option>4:30pm</option>
    </select>

    <button type="button" class="btn btn-default" ng-click="submitNew()">Submit</button>
</div>