<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">Staff</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Schedule</a></li>
    </ul>
  </div>
</nav>


<!-- Footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand copyright">
        <p>&copy; 2017 The Hair Lounge, All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>