
<div class="col-sm-4 col-lg-4">
  <div class="checkbox">
    <label><input type="checkbox" value="">Men's Cut</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Women's Cut</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Kid's Cut</label>
  </div>
</div>
<div class="col-sm-4 col-lg-4">
  <div class="checkbox">
    <label><input type="checkbox" value="">Bang Trim</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Beard Trim</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Brow Wax</label>
  </div>
</div>
<div class="col-sm-4 col-lg-4">
  <div class="checkbox">
    <label><input type="checkbox" value="">Shampoo</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Shampoo/Blowdry Style</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Conditioning Treatment</label>
  </div>
</div>