<div ng-repeat="item in services" class="col-sm-4 col-lg-4">
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
</div>
<div class="col-sm-4 col-lg-4">
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
</div>
<div class="col-sm-4 col-lg-4">
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">{{item.name}}</label>
  </div>
</div>