<table class="table table-bordered table-inverse">
  <thead>
    <tr>
      <th>Time</th>
      <th>Jackie</th>
      <th>Jessi</th>
      <th>Jamie</th>
      <th>Joey</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">9:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">9:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">10:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">10:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">11:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">11:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">12:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">12:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">1:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">1:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">2:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">2:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">3:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
       <tr>
      <th scope="row">3:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
       <tr>
      <th scope="row">4:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
       <tr>
      <th scope="row">4:30</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>