<div class="container">
<table class="table table-bordered table-inverse">
  <thead>
    <tr>
      <th>Time</th>
      <th ng-repeat="person in stylists">{{person.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">9:00am</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">9:30am</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">10:00am</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">10:30am</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">11:00am</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">11:30am</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">12:00pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">12:30pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">1:00pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">1:30pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">2:00pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">2:30pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <tr>
      <th scope="row">3:00pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
       <tr>
      <th scope="row">3:30pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
       <tr>
      <th scope="row">4:00pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
       <tr>
      <th scope="row">4:30pm</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>